/* some style */

body {
    color: rgb(150,150,150);
    background-color: black;
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    color: rgb(250,250,250);
}
h2 {
    color: rgb(200,200,200);
}

.brighter {
    color: rgb(200,200,200);
}
